# Node
node_modules
pnpm-lock.yaml
yarn.lock
dist
dist-electron

# Python
__pycache__
*.pyc
.venv

# Dotnet
bin
obj

# Env
.env
.env.local

# Misc
.DS_Store
.idea
.vscode
.tools/
frontend/resources/
frontend/release/
artifacts/
frontend/.test-output/

backend/src/PosMobile/wwwroot/ocr/
backend/src/PosBackend/wwwroot/
